header {
    background-color: black;
}

header h2 {
    color: white;
}

body {
    background-color: rgb(156, 154, 154);
}

button {
    background-color: black;
    color: white;
    margin: 10px 10px;
}

p {
    margin: 30px 10px;
}
.hidden {
    visibility: hidden;
}